@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Thin.eot');
  src: url('/fonts/Gotham/Gotham-Thin.woff2') format('woff2'),
       url('/fonts/Gotham/Gotham-Thin.woff') format('woff'),
       url('/fonts/Gotham/Gotham-Thin.ttf') format('truetype'),
       url('/fonts/Gotham/Gotham-Thin.svg#Gotham-Thin') format('svg'),
       url('/fonts/Gotham/Gotham-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Light.eot');
  src: url('/fonts/Gotham/Gotham-Light.woff2') format('woff2'),
       url('/fonts/Gotham/Gotham-Light.woff') format('woff'),
       url('/fonts/Gotham/Gotham-Light.ttf') format('truetype'),
       url('/fonts/Gotham/Gotham-Light.svg#Gotham-Light') format('svg'),
       url('/fonts/Gotham/Gotham-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Book.eot');
  src: url('/fonts/Gotham/Gotham-Book.woff2') format('woff2'),
       url('/fonts/Gotham/Gotham-Book.woff') format('woff'),
       url('/fonts/Gotham/Gotham-Book.ttf') format('truetype'),
       url('/fonts/Gotham/Gotham-Book.svg#Gotham-Book') format('svg'),
       url('/fonts/Gotham/Gotham-Book.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Medium.eot');
  src: url('/fonts/Gotham/Gotham-Medium.woff2') format('woff2'),
       url('/fonts/Gotham/Gotham-Medium.woff') format('woff'),
       url('/fonts/Gotham/Gotham-Medium.ttf') format('truetype'),
       url('/fonts/Gotham/Gotham-Medium.svg#Gotham-Medium') format('svg'),
       url('/fonts/Gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Bold.eot');
  src: url('/fonts/Gotham/Gotham-Bold.woff2') format('woff2'),
       url('/fonts/Gotham/Gotham-Bold.woff') format('woff'),
       url('/fonts/Gotham/Gotham-Bold.ttf') format('truetype'),
       url('/fonts/Gotham/Gotham-Bold.svg#Gotham-Bold') format('svg'),
       url('/fonts/Gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Black.eot');
  src: url('/fonts/Gotham/Gotham-Black.woff2') format('woff2'),
       url('/fonts/Gotham/Gotham-Black.woff') format('woff'),
       url('/fonts/Gotham/Gotham-Black.ttf') format('truetype'),
       url('/fonts/Gotham/Gotham-Black.svg#Gotham-Black') format('svg'),
       url('/fonts/Gotham/Gotham-Black.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}



